---
import { getSession } from "auth-astro/server";
import { GolfRound } from "../components/GolfRound";
import { SignIn } from "../components/SignIn";
import { RoundService } from "../Round/RoundService";
import { DBRoundRepository } from "../Round/DBRoundRepository";
import type { RoundModel } from "../Round/Round";
import Rounds from "../components/Rounds.tsx";
const session = await getSession(Astro.request);
let round: RoundModel | undefined;
let rounds: RoundModel[] = [];

if (session?.user && session?.user.email) {
    const roundService = new RoundService(new DBRoundRepository(), session?.user.email);
    round = await roundService.getActiveRound();
	if (!round) { 
		rounds = await roundService.getAllRounds();
	}
}
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="manifest" href="/manifest.json" />
		<meta name="viewport" content="initial-scale=1, width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
		<title>Stroke Stats</title>
		<style is:global>
			:root {
				font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
				--primary-color: #2f5b40;
				--secondary-color: #e0917c;
				--background-color: #f8f6f2;
				--text-color: #2d2d2d;
				--secondary-text-color: #979797;
			}
			body {
				margin: 0;
				padding: 0;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
			.secondary-text {
				color: var(--secondary-text-color);
				font-size: 0.75rem;
			}
			.primary-text {
				color: var(--primary-color);
				font-size: 1rem;
				font-weight: 600;
			}
		</style>
	</head>
	<body>
		{!session && <SignIn client:load />}
		{session && 
			<>
				{round && <GolfRound client:load round={round} />}
				{!round && <Rounds rounds={rounds} client:load />}
			</>
		}
	</body>
</html>
